@model WebBanHangOnline.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutForgotPassword.cshtml";
}

<div class="container" style="margin-top:200px;">
    <main aria-labelledby="title">
        <h3 id="title">Quên mật khẩu</h3>

        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
            <hr style="border:solid 1px;"/>
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="row" style="margin-bottom:20px">
                @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 col-form-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Nhập tài khoản" })
                </div>
            </div>
            <div class="row" style="margin-bottom:20px">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 col-form-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Nhập Email" })
                </div>
            </div>
            <div class="row">
                <div class="offset-md-2 col-md-10">
                    <input type="submit" class="btn btn-outline-dark" value="Email Link" />
                </div>
            </div>
        }
    </main>
</div>



@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
