@model PagedList.PagedList<WebBanHangOnline.Models.EF.Wishlist>
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">
<!-- Slider -->
<style>
    .news_section_container {
        margin-top: 180px;
    }

    .row-item-new {
        margin-bottom: 20px;
    }

    .title-news {
        font-size: 24px;
        border-bottom: 1px solid;
        padding: 15px 0;
        margin-bottom: 25px;
    }

    .img-box img {
        max-width: 60%;
        max-height: 60%;
    }
</style>
<div class="container news_section_container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="title-news"> Sản phẩm yêu thích</h1>
        </div>
    </div>
    @if (Model != null && Model.Any())
    {
        foreach (var item in Model)
        {
            <div class="row row-item-new" id="trow_@item.Id">
                <div class="col-md-3">
                    <div class="img-box">
                        @*<p>@item.Product.ProductImage.FirstOrDefault(x => x.IsDefault).Image</p>*@
                        <a href="" title="@item.Product.Title">
                            <img src="@item.Product.ProductImage.FirstOrDefault(x => x.IsDefault).Image" alt="@item.Product.Title" />
                        </a>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="content-box">
                        <h3><a href="/chi-tiet-san-pham/@item.Product.Alias-p@(item.ProductId)" title="@item.Product.Title">@item.Product.Title</a></h3>
                        <div class="description-box">
                            @item.Product.Description
                        </div>
                    </div>
                </div>
                <div class="col-md-1">
                    <a href="" data-id="@item.Id" class="btn btn-danger btnDeleteWishlist">Xóa</a>
                </div>
            </div>
        }
        <!--Phân trang-->
        <div class="row">
            <div class="col-6"></div>
            <div class="col-6" style="text-align:right;">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
            </div>
        </div>
    }
    else
    {
        <div class="row row-item-new">
            <div class="col-md-12">
                <h3>Bạn chưa có sản phẩm yêu thích nào !</h3>
            </div>
        </div>
    }
</div>

@section scripts{
    <script>
        $('body').on('click', '.btnDeleteWishlist', function () {
            var id = $(this).data("id");
            var conf = confirm('Bạn có muốn xóa sản phẩm yêu thích này không?');
            if (conf === true) {
                $.ajax({
                    url: '/Wishlist/DeleteProductLike',
                    type: 'POST',
                    data: { id: id },
                    success: function (rs) {
                        if (rs.Success) {
                            $('#trow_' + id).remove();
                            alert(rs.Message);
                            location.reload();
                        }
                    }
                });
            }
        });
    </script>
}